.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}


nz-content {
  background: gray;
  color: #001529;
  /*min-height: 560px;*/
  /*line-height: 120px;*/
}

nz-layout {
  margin-bottom: 48px;
  height: 100%;
}

