<div *ngIf="shouldDrew; else startTemp">

  <button (click)="refresh()"> refresh</button>

  <div echarts
       [options]="chartOption"
       class="chart"
       (chartClick)="onChartClick($event)"
       (chartInit)="onChartInit($event)">
  </div>
  <div>

    <!--<p>dsafl;dsjaf</p>-->


  </div>
</div>

<ng-template #startTemp>

  <div class="box3">
    <div class="wrp3">
      <form action="#">

        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">

          <input nz-input type="text" [(ngModel)]="name" name="name">

        </nz-input-group>

        <ng-template #suffixButton>

          <button nz-button nzType="primary" nzSize="large" nzSearch (click)="start()">Search</button>

        </ng-template>


      </form>

    </div>
  </div>


</ng-template>


<!--<p>rdfs:</p>-->
<!--<table>-->
<!--<tr *ngFor="let r of rdfs">-->
<!--<th> {{r.subject}}</th>-->
<!--<th>{{r.predicate}}</th>-->
<!--<th>{{r.object}}</th>-->
<!--</tr>-->
<!--</table>-->

<!--<p>entitys:</p>-->
<!--<table>-->
<!--<tr *ngFor=" let item of entitys | keyvalue">-->
<!--<th> {{item.key}}</th>-->
<!--<th>{{item.value}}</th>-->
<!--</tr>-->
<!--</table>-->


